@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #f5f186;
  background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-attachment: fixed; }

/* Barra de navegación */
nav {
  background-color: seagreen;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 10; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    align-items: center; }
    nav ul li ul {
      display: none;
      position: absolute;
      width: 150px;
      height: 100px; }
      nav ul li ul li {
        background-color: seagreen;
        height: 40px; }

nav li:hover ul {
  display: block;
  padding-top: 40px; }

/* Hipervínculos (Nav y footer) */
li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto; }

li .logo {
  height: 80px; }

li a {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s; }

li a:hover {
  font-size: 150%; }

li,
.boton :link {
  color: lightgoldenrodyellow; }

li,
.boton :visited {
  color: lightgoldenrodyellow; }

li,
.boton :hover {
  color: lightgray; }

li,
.boton :active {
  color: moccasin; }

.section {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-top: 80px;
  align-content: center;
  align-items: center; }

.index {
  display: flex;
  flex-direction: column;
  padding: 0; }
  .index .first {
    background-image: url(../img/comidaveggie1.jpg);
    font-family: 'Prata', serif;
    width: 1900px;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 70%;
    display: flex;
    flex-direction: initial;
    justify-content: center; }
    .index .first .hola {
      font-size: 310px;
      color: rgba(218, 211, 200, 0.9); }
  .index .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    width: 90%;
    align-items: center;
    margin-top: 50px; }
    .index .second .bienvenido {
      display: flex;
      flex-direction: column;
      justify-items: left;
      font-size: 2rem; }
      .index .second .bienvenido h3 {
        font-family: 'Prata', serif;
        text-align: left;
        font-size: 3rem; }
      .index .second .bienvenido p {
        text-align: left;
        font-size: 30px; }
    .index .second .carousel {
      display: flex;
      flex-direction: row;
      background: none;
      width: 50vw;
      height: 500px;
      padding: 1em;
      color: white;
      font-weight: 200;
      justify-content: center; }
      .index .second .carousel .deslizable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto; }
        .index .second .carousel .deslizable__item {
          width: 400px;
          height: 500px;
          margin: 0.5em;
          padding: .5em;
          background: rgba(255, 255, 255, 0.1);
          display: flex;
          align-items: center;
          transition: all .2s;
          flex-direction: column; }
          .index .second .carousel .deslizable__item img {
            height: 300px;
            width: 320px;
            border: black solid 1px;
            margin-top: 20px; }
          .index .second .carousel .deslizable__item h6 {
            color: black;
            height: 150px;
            width: 300px;
            text-align: center;
            font-size: 20px; }
          .index .second .carousel .deslizable__item:hover {
            background: rgba(255, 255, 255, 0.5);
            transform: scale(1.1);
            cursor: pointer; }
        .index .second .carousel .deslizable .active {
          display: flex;
          flex-direction: row; }
  .index .third {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    justify-content: space-between; }
    .index .third .queHacemos {
      display: flex;
      flex-direction: column; }
      .index .third .queHacemos h3 {
        font-size: 3rem;
        font-family: 'Prata', serif; }
      .index .third .queHacemos p {
        font-size: 1.5rem; }
    .index .third .hacemosEsto {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; }
      .index .third .hacemosEsto div {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .index .third .hacemosEsto div span {
          font-size: 100px; }
        .index .third .hacemosEsto div h4 {
          font-size: 30px; }
        .index .third .hacemosEsto div p {
          width: 175px;
          font-size: 18px; }
  .index .fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px; }
    .index .fourth h3 {
      font-size: 3rem;
      font-family: 'Prata', serif; }
    .index .fourth p {
      font-size: 35px; }
    .index .fourth a {
      color: black;
      font-size: 20px;
      transition: all 0.5s; }
      .index .fourth a:hover {
        font-size: 175%; }

/* Productos */
.market {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  padding: 0 200px 0 200px;
  margin-bottom: 50px; }
  .market .carousel {
    display: flex;
    justify-content: center;
    width: 100vh; }
    .market .carousel .carousel-inner {
      width: 100vh; }
      .market .carousel .carousel-inner .carousel-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vh; }
  .market .active {
    display: flex;
    flex-direction: row; }

.bloque {
  background-color: #E4FFC8;
  border: 1px solid green;
  height: 435px;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 2s; }
  .bloque .bloqueFoto {
    width: 297px;
    height: 200px;
    transition: all 2s;
    display: flex; }
    .bloque .bloqueFoto .card-img-top {
      width: 297px;
      height: auto; }
    .bloque .bloqueFoto:hover {
      transform: scale(1.5, 1.5);
      cursor: pointer;
      z-index: 2; }
  .bloque .card-body {
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static; }
    .bloque .card-body .card-text {
      font-size: 17px; }
    .bloque .card-body .comprarProd {
      display: flex;
      width: 100px;
      justify-content: center; }
      .bloque .card-body .comprarProd input {
        display: flex;
        border: none;
        background: lightgoldenrodyellow;
        margin: 0; }
    .bloque .card-body .comprarProd :hover {
      text-decoration: underline; }

/* Productos - Modal */
.modal-content {
  background-color: #f5f186;
  background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%); }
  .modal-content .modal-header .modal-title {
    color: black; }
  .modal-content .formComprar .metodoPago {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline; }
    .modal-content .formComprar .metodoPago__check {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .modal-content .formComprar .metodoPago__check--label {
        margin: 0;
        padding: 0; }

/* Sobre mí */
.containerSobreMi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px; }
  .containerSobreMi img {
    width: 500px;
    height: 600px;
    border: solid 1px black; }
  .containerSobreMi .sobreMi {
    font-size: 30px;
    align-self: center;
    text-align: justify; }

/* Contacto */
.contacto {
  height: auto;
  display: flex;
  flex-direction: column; }
  .contacto .detalles {
    display: flex;
    flex-direction: row; }

/* Sección Opiniones */
.opiniones {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .opiniones .carousel {
    width: 100%;
    margin-top: 30px; }
    .opiniones .carousel .carousel-inner {
      width: 100%;
      display: flex; }
      .opiniones .carousel .carousel-inner .carousel-item {
        width: 120%;
        padding: 0 350px 0 350px;
        align-content: center; }
  .opiniones .active {
    display: flex;
    flex-direction: row; }
  .opiniones__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120vh; }
  .opiniones__titulo {
    text-align: center;
    color: #454500;
    display: flex;
    justify-content: center; }
    .opiniones__titulo--titulogrande {
      font-family: 'Darker Grotesque', sans-serif;
      text-decoration: underline;
      font-size: 50px; }
    .opiniones__titulo--titulochico {
      font-family: 'Darker Grotesque', sans-serif; }

.caja {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: rgba(252, 252, 252, 0.315);
  transition: all 1.5s;
  margin: 0 5px 0 5px; }
  .caja:hover {
    transform: scale(1.1);
    cursor: pointer; }
  .caja .nombre {
    display: flex;
    position: absolute;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 18px; }
  .caja .contenido {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    margin-top: 30px;
    padding-top: 20px; }

/* Footer */
footer {
  background-color: seagreen;
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-items: left; }
  footer .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline; }
    footer .footer .newsletter {
      flex-grow: 8;
      width: 300px;
      color: lightgoldenrodyellow; }
      footer .footer .newsletter h4 {
        font-family: 'Darker Grotesque', sans-serif;
        color: lightgoldenrodyellow; }
      footer .footer .newsletter form label {
        display: flex;
        flex-direction: row;
        width: 270px;
        justify-content: space-between;
        align-items: baseline; }
      footer .footer .newsletter form input {
        display: flex;
        flex-direction: row;
        width: 270px;
        justify-content: space-between;
        align-items: baseline; }
      footer .footer .newsletter form textarea {
        display: flex;
        flex-direction: row;
        width: 270px;
        justify-content: space-between;
        align-items: baseline; }
      footer .footer .newsletter .enviar {
        border: none;
        background: none;
        color: lightgoldenrodyellow; }
    footer .footer .redesSociales {
      display: flex;
      flex-grow: 2;
      width: 300px; }
      footer .footer .redesSociales ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        footer .footer .redesSociales ul li {
          list-style: none;
          color: lightgoldenrodyellow;
          display: flex; }
          footer .footer .redesSociales ul li img {
            height: 30px; }

/*--- Elementos generales ---*/
div {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px; }

h2,
h3,
p {
  text-align: center; }

h2 {
  color: #454500;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 50px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }

h3 {
  font-family: 'Darker Grotesque', sans-serif;
  margin-top: 30px; }

p {
  color: black;
  font-size: 20px; }

/* Formularios */
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  form h3 {
    text-align: left; }
  form .comentarios {
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0; }
  form label {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 5px 0 5px 0;
    font-size: 20px; }
    form label .acepta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 350px;
      margin-top: 20px;
      align-items: baseline; }
  form input {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 5px 0 5px 0;
    width: auto; }
    form input .acepta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 350px;
      margin-top: 20px;
      align-items: baseline; }
  form textarea {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 5px 0 5px 0; }
    form textarea .acepta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 350px;
      margin-top: 20px;
      align-items: baseline; }
  form .detalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 600px; }
    form .detalles select {
      width: 100px;
      height: 25px; }
  form .acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px; }

/* ----------------Responsive - Media Queries----------------- */
@media (max-width: 992px) {
  /* General */
  * {
    margin: 0;
    padding: 0; }
  /* General */
  h2 {
    font-size: 30px; }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    nav ul {
      font-size: 20px;
      width: 100%; }
      nav ul li a {
        font-size: 20px; }
      nav ul li ul {
        width: 20%; }
  .index {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .index .first {
      background-image: url(../img/comidaveggie1.jpg);
      font-family: 'Prata', serif;
      width: 100%;
      height: 35vh;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      opacity: 70%;
      display: flex;
      flex-direction: initial;
      justify-content: center; }
      .index .first .hola {
        font-size: 100px;
        color: rgba(218, 211, 200, 0.973);
        margin-top: 90px; }
    .index .second {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120vh;
      width: 90%;
      align-items: center;
      margin-top: 10px; }
      .index .second .bienvenido {
        display: flex;
        flex-direction: column;
        justify-items: left; }
        .index .second .bienvenido h3 {
          font-family: 'Prata', serif;
          text-align: left;
          font-size: 80%; }
        .index .second .bienvenido p {
          text-align: left;
          font-size: 70%; }
      .index .second .carousel {
        display: flex;
        flex-direction: row;
        background: none;
        width: 60vh;
        height: 100vh;
        padding: 1em;
        color: white;
        font-weight: 200;
        justify-content: center; }
        .index .second .carousel .deslizable {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50vh; }
          .index .second .carousel .deslizable__item {
            width: 40vh;
            height: 35vh;
            margin: 0.5em;
            padding: .5em;
            background: rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            transition: all .2s;
            flex-direction: column; }
            .index .second .carousel .deslizable__item img {
              height: 100px;
              width: 120px;
              border: black solid 1px;
              margin-top: 20px; }
            .index .second .carousel .deslizable__item h6 {
              color: black;
              height: 50px;
              width: 38vh;
              text-align: center;
              font-size: 15px;
              margin: 0; }
            .index .second .carousel .deslizable__item:hover {
              background: rgba(255, 255, 255, 0.5);
              transform: scale(1.1);
              cursor: pointer; }
          .index .second .carousel .deslizable .active {
            display: flex;
            flex-direction: column;
            align-items: center; }
    .index .third {
      display: flex;
      flex-direction: column;
      height: 150vh;
      width: 50vh;
      justify-content: center; }
      .index .third .queHacemos {
        display: flex;
        flex-direction: column; }
        .index .third .queHacemos h3 {
          font-size: 25px;
          font-family: 'Prata', serif; }
        .index .third .queHacemos p {
          font-size: 15px; }
      .index .third .hacemosEsto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%; }
        .index .third .hacemosEsto div {
          width: 50vh;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .index .third .hacemosEsto div span {
            font-size: 70px; }
          .index .third .hacemosEsto div h4 {
            font-size: 20px; }
          .index .third .hacemosEsto div p {
            width: 175px;
            font-size: 18px; }
    .index .fourth {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 30vh; }
      .index .fourth h3 {
        font-size: 25px;
        font-family: 'Prata', serif; }
      .index .fourth p {
        font-size: 18px; }
      .index .fourth a {
        color: black;
        font-size: 20px;
        transition: all 0.5s; }
        .index .fourth a:hover {
          font-size: 130%; }
  /* Productos */
  #tituloproductos,
  #viandas,
  #hamburguesas,
  #snacks,
  #platosdulces {
    font-size: 80%; }
  .market {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 50px 0 50px; }
    .market .carousel {
      display: flex;
      justify-content: center;
      width: 30vh; }
      .market .carousel .carousel-inner {
        width: 30vh; }
        .market .carousel .carousel-inner .carousel-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30vh; }
    .market .active {
      display: flex;
      flex-direction: column; }
  .bloque {
    background-color: #E4FFC8;
    border: 1px solid green;
    height: 350px;
    width: 175px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s; }
    .bloque .bloqueFoto {
      width: 172px;
      height: 215px;
      transition: all 2s;
      display: flex; }
      .bloque .bloqueFoto .card-img-top {
        width: 172px;
        height: auto; }
      .bloque .bloqueFoto:hover {
        transform: scale(1.5, 1.5);
        cursor: pointer;
        z-index: 2; }
    .bloque .card-body {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      position: static;
      padding: 0; }
      .bloque .card-body .card-title {
        font-size: 12px;
        width: 170px;
        text-align: center; }
      .bloque .card-body .card-text {
        font-size: 12px;
        width: 170px; }
      .bloque .card-body .comprarProd {
        display: flex;
        width: 100px;
        justify-content: center; }
        .bloque .card-body .comprarProd input {
          display: flex;
          border: none;
          background: lightgoldenrodyellow;
          margin: 0;
          font-size: 10px; }
      .bloque .card-body .comprarProd :hover {
        text-decoration: underline; }
  /* Sobre mí */
  .containerSobreMi {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0; }
    .containerSobreMi .foto {
      height: 400px;
      width: auto;
      display: flex; }
    .containerSobreMi .sobreMi {
      display: flex;
      font-size: 70%;
      text-align: center;
      margin: 20px 0 20px 0; }
  /* Opiniones */
  .opiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh;
    flex-wrap: wrap; }
    .opiniones h2 {
      font-size: 80%; }
    .opiniones .carousel {
      margin-top: 30px;
      display: flex;
      align-items: center; }
      .opiniones .carousel .carousel-inner .carousel-item {
        width: 60vh;
        padding: 0;
        align-items: center;
        flex-direction: column; }
    .opiniones .active {
      display: flex;
      flex-direction: column; }
    .opiniones__formulario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60vh; }
      .opiniones__formulario label,
      .opiniones__formulario input,
      .opiniones__formulario div,
      .opiniones__formulario textarea {
        width: 60vh; }
      .opiniones__formulario .acciones {
        padding: 0; }
    .opiniones__titulo {
      text-align: center;
      color: #454500;
      display: flex;
      justify-content: center; }
      .opiniones__titulo--titulogrande {
        font-family: 'Darker Grotesque', sans-serif;
        text-decoration: underline;
        font-size: 50px; }
      .opiniones__titulo--titulochico {
        font-family: 'Darker Grotesque', sans-serif; }
  .caja {
    width: 30vh;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: rgba(252, 252, 252, 0.315);
    transition: all 1.5s;
    margin: 10px 0px 10px 0px; }
    .caja:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .caja .nombre {
      display: flex;
      position: absolute;
      padding-top: 10px;
      margin-bottom: 10px;
      font-size: 10px; }
    .caja .contenido {
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      margin-top: 15px;
      padding-top: 20px; } }

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  /* General */
  h2 {
    font-size: 30px; }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    nav ul {
      font-size: 16px;
      width: 100%; }
      nav ul li a {
        font-size: 16px; }
      nav ul li ul {
        display: none;
        position: absolute;
        width: 150px;
        height: 100px; }
        nav ul li ul li {
          background-color: seagreen;
          height: 40px; }
  .index {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .index .first {
      background-image: url(../img/comidaveggie1.jpg);
      font-family: 'Prata', serif;
      width: 100%;
      height: 50%;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      opacity: 70%;
      display: flex;
      flex-direction: initial;
      justify-content: center; }
      .index .first .hola {
        font-size: 100px;
        color: rgba(218, 211, 200, 0.973);
        margin-top: 90px; }
    .index .second {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 110vh;
      width: 90%;
      align-items: center;
      margin-top: 10px; }
      .index .second .bienvenido {
        display: flex;
        flex-direction: column;
        justify-items: left; }
        .index .second .bienvenido h3 {
          font-family: 'Prata', serif;
          text-align: left;
          font-size: 80%; }
        .index .second .bienvenido p {
          text-align: left;
          font-size: 70%; }
      .index .second .carousel {
        display: flex;
        flex-direction: row;
        background: none;
        width: 100%;
        height: 80vh;
        padding: 1em;
        color: white;
        font-weight: 200;
        justify-content: center; }
        .index .second .carousel .deslizable {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 80%; }
          .index .second .carousel .deslizable__item {
            width: 50%;
            height: 35vh;
            margin: 0;
            padding: 0;
            background: rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            transition: all .2s;
            flex-direction: column; }
            .index .second .carousel .deslizable__item img {
              height: 100px;
              width: 120px;
              border: black solid 1px;
              margin-top: 20px; }
            .index .second .carousel .deslizable__item h6 {
              color: black;
              height: 50px;
              width: 38vh;
              text-align: center;
              font-size: 15px;
              margin: 0; }
            .index .second .carousel .deslizable__item:hover {
              background: rgba(255, 255, 255, 0.5);
              transform: scale(1.1);
              cursor: pointer; }
          .index .second .carousel .deslizable .active {
            display: flex;
            flex-direction: row;
            align-items: center; }
    .index .third {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      justify-content: center; }
      .index .third .queHacemos {
        display: flex;
        flex-direction: column; }
        .index .third .queHacemos h3 {
          font-size: 25px;
          font-family: 'Prata', serif; }
        .index .third .queHacemos p {
          font-size: 15px; }
      .index .third .hacemosEsto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; }
        .index .third .hacemosEsto div {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .index .third .hacemosEsto div span {
            font-size: 70px; }
          .index .third .hacemosEsto div h4 {
            font-size: 18px; }
          .index .third .hacemosEsto div p {
            width: 175px;
            font-size: 13px; }
    .index .fourth {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 45vh; }
      .index .fourth h3 {
        font-size: 25px;
        font-family: 'Prata', serif; }
      .index .fourth p {
        font-size: 18px; }
      .index .fourth a {
        color: black;
        font-size: 20px;
        transition: all 0.5s; }
        .index .fourth a:hover {
          font-size: 130%; }
  /* Productos */
  .market {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    padding: 0 70px 0 70px;
    margin-bottom: 50px; }
    .market .carousel {
      display: flex;
      justify-content: center;
      width: 80%; }
      .market .carousel .carousel-inner {
        width: 80%; }
        .market .carousel .carousel-inner .carousel-item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 80%; }
    .market .active {
      display: flex;
      flex-direction: row; }
  .bloque {
    background-color: #E4FFC8;
    border: 1px solid green;
    height: 350px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s; }
    .bloque .bloqueFoto {
      width: 197px;
      height: 105px;
      transition: all 2s;
      display: flex; }
      .bloque .bloqueFoto .card-img-top {
        width: 197px;
        height: auto; }
      .bloque .bloqueFoto:hover {
        transform: scale(1.5, 1.5);
        cursor: pointer;
        z-index: 2; }
    .bloque .card-body {
      width: 250px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: static; }
      .bloque .card-body .card-text {
        font-size: 15px; }
      .bloque .card-body .comprarProd {
        display: flex;
        width: 100px;
        justify-content: center; }
        .bloque .card-body .comprarProd input {
          display: flex;
          border: none;
          background: lightgoldenrodyellow;
          margin: 0; }
      .bloque .card-body .comprarProd :hover {
        text-decoration: underline; }
  /* Sobre mí */
  .containerSobreMi {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px; }
    .containerSobreMi img {
      width: 200px;
      height: 300px;
      border: solid 1px black; }
    .containerSobreMi .sobreMi {
      font-size: 15px;
      align-self: center;
      text-align: justify; }
  /* Contacto */
  .contacto {
    display: flex;
    flex-direction: column; }
    .contacto .detalles {
      display: flex;
      flex-direction: column; }
  /* Sección Opiniones */
  .opiniones {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .opiniones .carousel {
      width: 100%;
      margin-top: 30px; }
      .opiniones .carousel .carousel-inner {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 10px 0 10px;
        margin: 0 15px 0 15px; }
        .opiniones .carousel .carousel-inner .carousel-item {
          width: 100%;
          padding: 0 80px 0 80px;
          align-content: center;
          flex-direction: row; }
    .opiniones .active {
      display: flex;
      flex-direction: row; }
    .opiniones__formulario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120vh; }
      .opiniones__formulario label, .opiniones__formulario input, .opiniones__formulario textarea, .opiniones__formulario div {
        width: 100%; }
    .opiniones__titulo {
      text-align: center;
      color: #454500;
      display: flex;
      justify-content: center; }
      .opiniones__titulo--titulogrande {
        font-family: 'Darker Grotesque', sans-serif;
        text-decoration: underline;
        font-size: 50px; }
      .opiniones__titulo--titulochico {
        font-family: 'Darker Grotesque', sans-serif; }
  .caja {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(252, 252, 252, 0.315);
    transition: all 1.5s;
    margin: 0 15px 0 15px; }
    .caja:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .caja .nombre {
      display: flex;
      position: absolute;
      padding-top: 20px;
      margin-bottom: 10px;
      font-size: 10px; }
    .caja .contenido {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      margin-top: 30px;
      padding-top: 20px; } }

@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0; }
  /* General */
  h2 {
    font-size: 30px; }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 10vh; }
    nav ul {
      font-size: 12px;
      width: 100%; }
      nav ul .logo {
        height: 10vh; }
      nav ul li a {
        font-size: 12px; }
      nav ul li ul {
        width: 20%; }
        nav ul li ul:hover {
          display: block;
          padding-top: 40px; }
  .index {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .index .first {
      background-image: url(../img/comidaveggie1.jpg);
      font-family: 'Prata', serif;
      width: 100%;
      height: 40vh;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      opacity: 70%;
      display: flex;
      flex-direction: initial;
      justify-content: center; }
      .index .first .hola {
        font-size: 100px;
        color: rgba(218, 211, 200, 0.973);
        margin-top: 90px; }
    .index .second {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;
      width: 90%;
      align-items: center;
      margin-top: 10px; }
      .index .second .bienvenido {
        display: flex;
        flex-direction: column;
        justify-items: left; }
        .index .second .bienvenido h3 {
          font-family: 'Prata', serif;
          text-align: left;
          font-size: 80%; }
        .index .second .bienvenido p {
          text-align: left;
          font-size: 70%; }
      .index .second .carousel {
        display: flex;
        flex-direction: row;
        background: none;
        width: 90%;
        height: 100vh;
        padding: 0;
        color: white;
        font-weight: 200;
        justify-content: center; }
        .index .second .carousel .deslizable {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50vh; }
          .index .second .carousel .deslizable__item {
            width: 40vh;
            height: 35vh;
            margin: 0.5em;
            padding: .5em;
            background: rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            transition: all .2s;
            flex-direction: column; }
            .index .second .carousel .deslizable__item img {
              height: 100px;
              width: 120px;
              border: black solid 1px;
              margin-top: 20px; }
            .index .second .carousel .deslizable__item h6 {
              color: black;
              height: 50px;
              width: 38vh;
              text-align: center;
              font-size: 15px;
              margin: 0; }
            .index .second .carousel .deslizable__item:hover {
              background: rgba(255, 255, 255, 0.5);
              transform: scale(1.1);
              cursor: pointer; }
          .index .second .carousel .deslizable .active {
            display: flex;
            flex-direction: column;
            align-items: center; }
        .index .second .carousel .carousel-control-prev,
        .index .second .carousel .carousel-control-next {
          height: 100vh;
          align-self: center; }
    .index .third {
      display: flex;
      flex-direction: column;
      height: 160%;
      width: 50vh;
      justify-content: center;
      flex-shrink: 2; }
      .index .third .queHacemos {
        display: flex;
        flex-direction: column; }
        .index .third .queHacemos h3 {
          font-size: 25px;
          font-family: 'Prata', serif; }
        .index .third .queHacemos p {
          font-size: 15px; }
      .index .third .hacemosEsto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%; }
        .index .third .hacemosEsto div {
          width: 50vh;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .index .third .hacemosEsto div span {
            font-size: 70px; }
          .index .third .hacemosEsto div h4 {
            font-size: 20px; }
          .index .third .hacemosEsto div p {
            width: 175px;
            font-size: 18px; }
    .index .fourth {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 15%;
      margin: 20px 0 20px 0; }
      .index .fourth h3 {
        font-size: 25px;
        font-family: 'Prata', serif; }
      .index .fourth p {
        font-size: 18px; }
      .index .fourth a {
        color: black;
        font-size: 20px;
        transition: all 0.5s; }
        .index .fourth a:hover {
          font-size: 130%; }
  /* Productos */
  #tituloproductos,
  #viandas,
  #hamburguesas,
  #snacks,
  #platosdulces {
    font-size: 80%; }
  .market {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 50px 0 50px; }
    .market .carousel {
      display: flex;
      justify-content: center;
      width: 30vh; }
      .market .carousel .carousel-inner {
        width: 30vh; }
        .market .carousel .carousel-inner .carousel-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30vh; }
    .market .active {
      display: flex;
      flex-direction: column; }
  .bloque {
    background-color: #E4FFC8;
    border: 1px solid green;
    height: 350px;
    width: 175px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s; }
    .bloque .bloqueFoto {
      width: 172px;
      height: 215px;
      transition: all 2s;
      display: flex; }
      .bloque .bloqueFoto .card-img-top {
        width: 172px;
        height: auto; }
      .bloque .bloqueFoto:hover {
        transform: scale(1.5, 1.5);
        cursor: pointer;
        z-index: 2; }
    .bloque .card-body {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      position: static;
      padding: 0; }
      .bloque .card-body .card-title {
        font-size: 12px;
        width: 170px;
        text-align: center; }
      .bloque .card-body .card-text {
        font-size: 12px;
        width: 170px; }
      .bloque .card-body .comprarProd {
        display: flex;
        width: 100px;
        justify-content: center; }
        .bloque .card-body .comprarProd input {
          display: flex;
          border: none;
          background: lightgoldenrodyellow;
          margin: 0;
          font-size: 10px; }
      .bloque .card-body .comprarProd :hover {
        text-decoration: underline; }
  /* Sobre mí */
  .containerSobreMi {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0; }
    .containerSobreMi .foto {
      height: 400px;
      width: auto;
      display: flex; }
    .containerSobreMi .sobreMi {
      display: flex;
      font-size: 70%;
      text-align: center;
      margin: 20px 0 20px 0; }
  /* Contacto */
  .contacto {
    z-index: 2; }
    .contacto p,
    .contacto div,
    .contacto input,
    .contacto textarea,
    .contacto label {
      font-size: 12px; }
    .contacto .detalles {
      display: flex;
      flex-direction: column;
      width: 100%; }
  /* Opiniones */
  .opiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    flex-wrap: wrap; }
    .opiniones h2 {
      font-size: 80%; }
    .opiniones .carousel {
      margin-top: 30px;
      display: flex;
      align-items: center; }
      .opiniones .carousel .carousel-inner .carousel-item {
        width: 100%;
        padding: 0;
        align-items: center;
        flex-direction: column; }
    .opiniones .active {
      display: flex;
      flex-direction: column; }
    .opiniones__formulario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45vh; }
      .opiniones__formulario label,
      .opiniones__formulario input,
      .opiniones__formulario div,
      .opiniones__formulario textarea {
        width: 45vh; }
      .opiniones__formulario .acciones {
        padding: 0; }
    .opiniones__titulo {
      text-align: center;
      color: #454500;
      display: flex;
      justify-content: center; }
      .opiniones__titulo--titulogrande {
        font-family: 'Darker Grotesque', sans-serif;
        text-decoration: underline;
        font-size: 50px; }
      .opiniones__titulo--titulochico {
        font-family: 'Darker Grotesque', sans-serif; }
  .caja {
    width: 50%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: rgba(252, 252, 252, 0.315);
    transition: all 1.5s;
    margin: 10px 0px 10px 0px; }
    .caja:hover {
      transform: scale(1.1);
      cursor: pointer; }
    .caja .nombre {
      display: flex;
      position: absolute;
      padding-top: 10px;
      margin-bottom: 10px;
      font-size: 10px; }
    .caja .contenido {
      display: flex;
      justify-content: flex-end;
      font-size: 10px;
      margin-top: 15px;
      padding-top: 20px; }
  .compraExitosa {
    margin: 0;
    padding: 0; } }

/* Footer */
.footer {
  display: flex;
  align-self: flex-end;
  width: 100%;
  margin: 0;
  padding: 0; }

/*-------------- Keyframes ---------------*/
/* Compra Exitosa */
.compraExitosa {
  animation: animacion;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  margin-top: 100px;
  width: 80%; }

@keyframes animacion {
  0% {
    color: black; }
  25% {
    color: cadetblue; }
  50% {
    color: darkslategray; }
  75% {
    color: limegreen; }
  100% {
    color: yellowgreen; } }
