@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f186;
    background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

/* Barra de navegación */
nav {
    background-color: seagreen;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        align-items: center;

        li {
            ul {
                display: none;
                position: absolute;
                width: 150px;
                height: 100px;

                li {
                    background-color: seagreen;
                    height: 40px;
                }
            }

        }
    }

}

nav li:hover ul {
    display: block;
    padding-top: 40px;
}




/* Hipervínculos (Nav y footer) */
li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

li .logo {
    height: 80px;
}

li {
    a {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 20px;
        text-decoration: none;
        transition: all 0.5s;
    }
}

li a:hover {
    font-size: 150%;
}

li,
.boton :link {
    color: lightgoldenrodyellow;
}

li,
.boton :visited {
    color: lightgoldenrodyellow;
}

li,
.boton :hover {
    color: lightgray;
}

li,
.boton :active {
    color: moccasin;
}


.section {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-top: 80px;
    align-content: center;
    align-items: center;
}

.index {

    display: flex;
    flex-direction: column;
    padding: 0;

    .first {
        background-image: url(../img/comidaveggie1.jpg);
        font-family: 'Prata', serif;
        width: 1900px;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        opacity: 70%;
        display: flex;
        flex-direction: initial;
        justify-content: center;

        .hola {
            font-size: 310px;
            color: rgba(218, 211, 200, 0.9);
        }
    }

    .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60vh;
        width: 90%;
        align-items: center;
        margin-top: 50px;

        .bienvenido {
            display: flex;
            flex-direction: column;
            justify-items: left;
            font-size: 2rem;

            h3 {
                font-family: 'Prata', serif;
                text-align: left;
                font-size: 3rem;
            }

            p {
                text-align: left;
                font-size: 30px;
            }
        }


        .carousel {

            display: flex;
            flex-direction: row;
            background: none;
            width: 50vw;
            height: 500px;
            padding: 1em;
            color: white;
            font-weight: 200;
            justify-content: center;


            .deslizable {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;


                &__item {
                    width: 400px;
                    height: 500px;
                    margin: 0.5em;
                    padding: .5em;
                    background: rgba(255, 255, 255, .1);
                    display: flex;
                    align-items: center;
                    transition: all .2s;
                    flex-direction: column;

                    img {
                        height: 300px;
                        width: 320px;
                        border: black solid 1px;
                        margin-top: 20px;
                    }

                    h6 {
                        color: black;
                        height: 150px;
                        width: 300px;
                        text-align: center;
                        font-size: 20px;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, .5);
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }

                .active {
                    display: flex;
                    flex-direction: row;
                }


            }


        }
    }

    .third {
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 100%;
        justify-content: space-between;

        .queHacemos {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 3rem;
                font-family: 'Prata', serif;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .hacemosEsto {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            div {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-size: 100px;
                }

                h4 {
                    font-size: 30px;
                }

                p {
                    width: 175px;
                    font-size: 18px;
                }
            }
        }
    }

    .fourth {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;

        h3 {
            font-size: 3rem;
            font-family: 'Prata', serif;
        }

        p {
            font-size: 35px;
        }

        a {
            color: black;
            font-size: 20px;
            transition: all 0.5s;

            &:hover {
                font-size: 175%;
            }
        }

    }
}



/* Productos */


.market {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    padding: 0 200px 0 200px;
    margin-bottom: 50px;

    .carousel {
        display: flex;
        justify-content: center;
        width: 100vh;

        .carousel-inner {
            width: 100vh;

            .carousel-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100vh;
            }

        }

    }

    .active {
        display: flex;
        flex-direction: row;
    }

}



.bloque {
    background-color: #E4FFC8;
    border: 1px solid green;
    height: 435px;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s;

    .bloqueFoto {
        width: 297px;
        height: 200px;
        transition: all 2s;
        display: flex;

        .card-img-top {
            width: 297px;
            height: auto;
        }

        &:hover {
            transform: scale(1.5, 1.5);
            cursor: pointer;
            z-index: 2;
        }

    }


    .card-body {
        width: 300px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;

        .card-text {
            font-size: 17px;
        }

        .comprarProd {
            display: flex;
            width: 100px;
            justify-content: center;

            input {
                display: flex;
                border: none;
                background: lightgoldenrodyellow;
                margin: 0;
            }

        }

        .comprarProd :hover {
            text-decoration: underline;
        }
    }
}


/* Productos - Modal */
.modal-content {
    background-color: #f5f186;
    background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);

    .modal-header {
        .modal-title {
            color: black;
        }
    }

    .formComprar {
        .metodoPago {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;

            &__check {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                &--label {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}


/* Sobre mí */

.containerSobreMi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

    img {
        width: 500px;
        height: 600px;
        border: solid 1px black;
    }

    .sobreMi {
        font-size: 30px;
        align-self: center;
        text-align: justify;
    }

}


/* Contacto */
.contacto {
    height: auto;
    display: flex;
    flex-direction: column;

    .detalles {
        display: flex;
        flex-direction: row;
    }
}


/* Sección Opiniones */
.opiniones {
    display: flex;
    flex-direction: column;
    width: 100%;

    .carousel {
        width: 100%;
        margin-top: 30px;

        .carousel-inner {
            width: 100%;
            display: flex;

            .carousel-item {
                width: 120%;
                padding: 0 350px 0 350px;
                align-content: center;
            }

        }

    }

    .active {
        display: flex;
        flex-direction: row;
    }


    &__formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120vh;
    }

    &__titulo {
        text-align: center;
        color: #454500;
        display: flex;
        justify-content: center;

        &--titulogrande {
            font-family: 'Darker Grotesque', sans-serif;
            text-decoration: underline;
            font-size: 50px;
        }

        &--titulochico {
            font-family: 'Darker Grotesque', sans-serif;
        }
    }
}

.caja {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: rgba(252, 252, 252, 0.315);
    transition: all 1.5s;
    margin: 0 5px 0 5px;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .nombre {
        display: flex;
        position: absolute;
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .contenido {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        margin-top: 30px;
        padding-top: 20px;
    }

}


/* Footer */
footer {
    background-color: seagreen;
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-items: left;

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;

        .newsletter {
            flex-grow: 8;
            width: 300px;
            color: lightgoldenrodyellow;

            h4 {
                font-family: 'Darker Grotesque', sans-serif;
                color: lightgoldenrodyellow;
            }

            form {
                label {
                    display: flex;
                    flex-direction: row;
                    width: 270px;
                    justify-content: space-between;
                    align-items: baseline;
                }

                input {
                    display: flex;
                    flex-direction: row;
                    width: 270px;
                    justify-content: space-between;
                    align-items: baseline;
                }

                textarea {
                    display: flex;
                    flex-direction: row;
                    width: 270px;
                    justify-content: space-between;
                    align-items: baseline;
                }
            }

            .enviar {
                border: none;
                background: none;
                color: lightgoldenrodyellow;
            }
        }

        .redesSociales {
            display: flex;
            flex-grow: 2;
            width: 300px;

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                li {
                    list-style: none;
                    color: lightgoldenrodyellow;
                    display: flex;

                    img {
                        height: 30px;
                    }
                }
            }
        }
    }
}


/*--- Elementos generales ---*/
div {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}

h2,
h3,
p {
    text-align: center;
}

h2 {
    color: #454500;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 50px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Darker Grotesque', sans-serif;
    margin-top: 30px;
}

p {
    color: black;
    font-size: 20px;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
        text-align: left;
    }

    .comentarios {
        font-family: 'Darker Grotesque', sans-serif;
        display: flex;
        flex-direction: column;
        margin: 5px 0 5px 0;
    }

    label {
        font-family: 'Darker Grotesque', sans-serif;
        margin: 5px 0 5px 0;
        font-size: 20px;

        .acepta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 350px;
            margin-top: 20px;
            align-items: baseline;
        }
    }

    input {
        font-family: 'Darker Grotesque', sans-serif;
        margin: 5px 0 5px 0;
        width: auto;

        .acepta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 350px;
            margin-top: 20px;
            align-items: baseline;
        }
    }

    textarea {
        font-family: 'Darker Grotesque', sans-serif;
        margin: 5px 0 5px 0;

        .acepta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 350px;
            margin-top: 20px;
            align-items: baseline;
        }
    }

    .detalles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 600px;

        select {
            width: 100px;
            height: 25px;
        }

    }

    .acciones {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
        margin-bottom: 10px;
    }
}



/* ----------------Responsive - Media Queries----------------- */



@media (max-width: 992px) {

    /* General */
    * {
        margin: 0;
        padding: 0;
    }


    /* General */
    h2 {
        font-size: 30px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        ul {
            font-size: 12px;
            width: 35vh;

            li {
                a {
                    font-size: 12px;
                }

                ul {
                    width: 20%;
                }
            }
        }
    }

    .index {

        display: flex;
        flex-direction: column;
        padding: 0;
    
        .first {
            background-image: url(../img/comidaveggie1.jpg);
            font-family: 'Prata', serif;
            width: 100%;
            height: 45vh;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            opacity: 70%;
            display: flex;
            flex-direction: initial;
            justify-content: center;
    
            .hola {
                font-size: 100px;
                color: rgba(218, 211, 200, 0.973);
                margin-top: 90px;
            }
        }
    
        .second {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 120vh;
            width: 90%;
            align-items: center;
            margin-top: 10px;
    
            .bienvenido {
                display: flex;
                flex-direction: column;
                justify-items: left;
    
                h3 {
                    font-family: 'Prata', serif;
                    text-align: left;
                    font-size: 80%;
                }
    
                p {
                    text-align: left;
                    font-size: 70%;
                }
            }
    
    
            .carousel {
    
                display: flex;
                flex-direction: row;
                background: none;
                width: 60vh;
                height: 100vh;
                padding: 1em;
                color: white;
                font-weight: 200;
                justify-content: center;
    
    
                .deslizable {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50vh;
    
    
                    &__item {
                        width: 40vh;
                        height: 35vh;
                        margin: 0.5em;
                        padding: .5em;
                        background: rgba(255, 255, 255, .1);
                        display: flex;
                        align-items: center;
                        transition: all .2s;
                        flex-direction: column;
    
                        img {
                            height: 100px;
                            width: 120px;
                            border: black solid 1px;
                            margin-top: 20px;
                        }
    
                        h6 {
                            color: black;
                            height: 50px;
                            width: 38vh;
                            text-align: center;
                            font-size: 15px;
                            margin:0;
                        }
    
                        &:hover {
                            background: rgba(255, 255, 255, .5);
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
    
                    .active {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
    
    
                }
    
    
            }
        }
    
        .third {
            display: flex;
            flex-direction: column;
            height: 150vh;
            width: 50vh;
            justify-content: center;
    
            .queHacemos {
                display: flex;
                flex-direction: column;
    
                h3 {
                    font-size: 25px;
                    font-family: 'Prata', serif;
                }
    
                p {
                    font-size: 15px;
                }
            }
    
            .hacemosEsto {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
    
                div {
                    width: 50vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    span {
                        font-size: 70px;
                    }
    
                    h4 {
                        font-size: 20px;
                    }
    
                    p {
                        width: 175px;
                        font-size: 18px;
                    }
                }
            }
        }
    
        .fourth {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30vh;
    
            h3 {
                font-size: 25px;
                font-family: 'Prata', serif;
            }
    
            p {
                font-size: 18px;
            }
    
            a {
                color: black;
                font-size: 20px;
                transition: all 0.5s;
    
                &:hover {
                    font-size: 130%;
                }
            }
    
        }
    }
    

    /* Productos */

    #tituloproductos,
    #viandas,
    #hamburguesas,
    #snacks,
    #platosdulces {
        font-size: 80%;
    }

    .market {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
        margin-bottom: 50px;
        padding: 0 50px 0 50px;

        .carousel {
            display: flex;
            justify-content: center;
            width: 30vh;

            .carousel-inner {
                width: 30vh;

                .carousel-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30vh;
                }

            }

        }

        .active {
            display: flex;
            flex-direction: column;
        }

    }



    .bloque {
        background-color: #E4FFC8;
        border: 1px solid green;
        height: 350px;
        width: 175px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 2s;

        .bloqueFoto {
            width: 172px;
            height: 215px;
            transition: all 2s;
            display: flex;

            .card-img-top {
                width: 172px;
                height: auto;
            }

            &:hover {
                transform: scale(1.5, 1.5);
                cursor: pointer;
                z-index: 2;
            }

        }


        .card-body {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            position: static;
            padding: 0;

            .card-title {
                font-size: 12px;
                width: 170px;
                text-align: center;
            }

            .card-text {
                font-size: 12px;
                width: 170px;
            }

            .comprarProd {
                display: flex;
                width: 100px;
                justify-content: center;

                input {
                    display: flex;
                    border: none;
                    background: lightgoldenrodyellow;
                    margin: 0;
                    font-size: 10px;
                }

            }

            .comprarProd :hover {
                text-decoration: underline;
            }
        }
    }

    /* Sobre mí */

.containerSobreMi {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;

    .foto {
        height: 400px;
        width: auto;
        display: flex;
    }

    .sobreMi {
        display: flex;
        font-size: 70%;
        text-align: center;
        margin: 20px 0 20px 0;
    }
}

    /* Opiniones */

    .opiniones {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vh;
        flex-wrap: wrap;        

        h2 {
            font-size: 80%;
        }
    
        .carousel {
            margin-top: 30px;
            display: flex;
            align-items:center;
    
            .carousel-inner {
    
                .carousel-item {
                    width: 60vh;
                    padding: 0;
                    align-items: center;
                    flex-direction: column;
                }
    
            }
    
        }
        
        .active {
            display: flex;
            flex-direction: column;
        }
    
    
        &__formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60vh;

            label, input, div, textarea {
                width: 60vh;
            }

            .acciones {
                padding: 0;
            }
        }
    
        &__titulo {
            text-align: center;
            color: #454500;
            display: flex;
            justify-content: center;
    
            &--titulogrande {
                font-family: 'Darker Grotesque', sans-serif;
                text-decoration: underline;
                font-size: 50px;
            }
    
            &--titulochico {
                font-family: 'Darker Grotesque', sans-serif;
            }
        }
    }
    
    .caja {
        width: 30vh;
        height: 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 0 20px;
        background-color: rgba(252, 252, 252, 0.315);
        transition: all 1.5s;
        margin: 10px 0px 10px 0px;
    
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    
        .nombre {
            display: flex;
            position: absolute;
            padding-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;
        }
    
        .contenido {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            margin-top: 15px;
            padding-top: 20px;
        }
    
    }

}

@media (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
    }


    /* General */
    h2 {
        font-size: 30px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        ul {
            font-size: 12px;
            width: 35vh;

            li {
                a {
                    font-size: 12px;
                }

                ul {
                    width: 20%;
                }
            }
        }
    }

    .index {

        display: flex;
        flex-direction: column;
        padding: 0;
    
        .first {
            background-image: url(../img/comidaveggie1.jpg);
            font-family: 'Prata', serif;
            width: 100%;
            height: 45vh;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            opacity: 70%;
            display: flex;
            flex-direction: initial;
            justify-content: center;
    
            .hola {
                font-size: 100px;
                color: rgba(218, 211, 200, 0.973);
                margin-top: 90px;
            }
        }
    
        .second {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 110vh;
            width: 90%;
            align-items: center;
            margin-top: 10px;
    
            .bienvenido {
                display: flex;
                flex-direction: column;
                justify-items: left;
    
                h3 {
                    font-family: 'Prata', serif;
                    text-align: left;
                    font-size: 80%;
                }
    
                p {
                    text-align: left;
                    font-size: 70%;
                }
            }
    
    
            .carousel {
    
                display: flex;
                flex-direction: row;
                background: none;
                width: 80%;
                height: 80vh;
                padding: 1em;
                color: white;
                font-weight: 200;
                justify-content: center;
    
    
                .deslizable {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 60%;
    
    
                    &__item {
                        width: 50%;
                        height: 35vh;
                        margin: 0;
                        padding: 0;
                        background: rgba(255, 255, 255, .1);
                        display: flex;
                        align-items: center;
                        transition: all .2s;
                        flex-direction: column;
    
                        img {
                            height: 100px;
                            width: 120px;
                            border: black solid 1px;
                            margin-top: 20px;
                        }
    
                        h6 {
                            color: black;
                            height: 50px;
                            width: 38vh;
                            text-align: center;
                            font-size: 15px;
                            margin:0;
                        }
    
                        &:hover {
                            background: rgba(255, 255, 255, .5);
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
    
                    .active {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
    
    
                }
    
    
            }
        }
    
        .third {
            display: flex;
            flex-direction: column;
            height: 130vh;
            width: 50vh;
            justify-content: center;
    
            .queHacemos {
                display: flex;
                flex-direction: column;
    
                h3 {
                    font-size: 25px;
                    font-family: 'Prata', serif;
                }
    
                p {
                    font-size: 15px;
                }
            }
    
            .hacemosEsto {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
    
                div {
                    width: 50vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    span {
                        font-size: 70px;
                    }
    
                    h4 {
                        font-size: 20px;
                    }
    
                    p {
                        width: 175px;
                        font-size: 18px;
                    }
                }
            }
        }
    
        .fourth {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30vh;
    
            h3 {
                font-size: 25px;
                font-family: 'Prata', serif;
            }
    
            p {
                font-size: 18px;
            }
    
            a {
                color: black;
                font-size: 20px;
                transition: all 0.5s;
    
                &:hover {
                    font-size: 130%;
                }
            }
    
        }
    }
    

    /* Productos */

    #tituloproductos,
    #viandas,
    #hamburguesas,
    #snacks,
    #platosdulces {
        font-size: 80%;
    }

    .market {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
        margin-bottom: 50px;
        padding: 0 50px 0 50px;

        .carousel {
            display: flex;
            justify-content: center;
            width: 30vh;

            .carousel-inner {
                width: 30vh;

                .carousel-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30vh;
                }

            }

        }

        .active {
            display: flex;
            flex-direction: column;
        }

    }



    .bloque {
        background-color: #E4FFC8;
        border: 1px solid green;
        height: 350px;
        width: 175px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 2s;

        .bloqueFoto {
            width: 172px;
            height: 215px;
            transition: all 2s;
            display: flex;

            .card-img-top {
                width: 172px;
                height: auto;
            }

            &:hover {
                transform: scale(1.5, 1.5);
                cursor: pointer;
                z-index: 2;
            }

        }


        .card-body {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            position: static;
            padding: 0;

            .card-title {
                font-size: 12px;
                width: 170px;
                text-align: center;
            }

            .card-text {
                font-size: 12px;
                width: 170px;
            }

            .comprarProd {
                display: flex;
                width: 100px;
                justify-content: center;

                input {
                    display: flex;
                    border: none;
                    background: lightgoldenrodyellow;
                    margin: 0;
                    font-size: 10px;
                }

            }

            .comprarProd :hover {
                text-decoration: underline;
            }
        }
    }

    /* Sobre mí */

.containerSobreMi {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;

    .foto {
        height: 400px;
        width: auto;
        display: flex;
    }

    .sobreMi {
        display: flex;
        font-size: 70%;
        text-align: center;
        margin: 20px 0 20px 0;
    }
}

    /* Opiniones */

    .opiniones {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vh;
        flex-wrap: wrap;        

        h2 {
            font-size: 80%;
        }
    
        .carousel {
            margin-top: 30px;
            display: flex;
            align-items:center;
    
            .carousel-inner {
    
                .carousel-item {
                    width: 60vh;
                    padding: 0;
                    align-items: center;
                    flex-direction: column;
                }
    
            }
    
        }
        
        .active {
            display: flex;
            flex-direction: column;
        }
    
    
        &__formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60vh;

            label, input, div, textarea {
                width: 60vh;
            }

            .acciones {
                padding: 0;
            }
        }
    
        &__titulo {
            text-align: center;
            color: #454500;
            display: flex;
            justify-content: center;
    
            &--titulogrande {
                font-family: 'Darker Grotesque', sans-serif;
                text-decoration: underline;
                font-size: 50px;
            }
    
            &--titulochico {
                font-family: 'Darker Grotesque', sans-serif;
            }
        }
    }
    
    .caja {
        width: 30vh;
        height: 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 0 20px;
        background-color: rgba(252, 252, 252, 0.315);
        transition: all 1.5s;
        margin: 10px 0px 10px 0px;
    
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    
        .nombre {
            display: flex;
            position: absolute;
            padding-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;
        }
    
        .contenido {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            margin-top: 15px;
            padding-top: 20px;
        }
    
    }


}

@media (max-width: 576px) {

    * {
        margin: 0;
        padding: 0;
    }
    


    /* General */
    h2 {
        font-size: 30px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 10vh;

        ul {
            font-size: 12px;
            width: 100%;

            .logo {
                height: 10vh;
            }

            li {
                a {
                    font-size: 12px;
                }

                ul {
                    width: 20%;
                }
            }
        }
    }

    .index {

        display: flex;
        flex-direction: column;
        padding: 0;
    
        .first {
            background-image: url(../img/comidaveggie1.jpg);
            font-family: 'Prata', serif;
            width: 100%;
            height: 40vh;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            opacity: 70%;
            display: flex;
            flex-direction: initial;
            justify-content: center;
    
            .hola {
                font-size: 100px;
                color: rgba(218, 211, 200, 0.973);
                margin-top: 90px;
            }
        }
    
        .second {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30%;
            width: 90%;
            align-items: center;
            margin-top: 10px;
    
            .bienvenido {
                display: flex;
                flex-direction: column;
                justify-items: left;
    
                h3 {
                    font-family: 'Prata', serif;
                    text-align: left;
                    font-size: 80%;
                }
    
                p {
                    text-align: left;
                    font-size: 70%;
                }
            }
    
    
            .carousel {
    
                display: flex;
                flex-direction: row;
                background: none;
                width: 90%;
                height: 100vh;
                padding: 0;
                color: white;
                font-weight: 200;
                justify-content: center;
    
    
                .deslizable {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50vh;
    
    
                    &__item {
                        width: 40vh;
                        height: 35vh;
                        margin: 0.5em;
                        padding: .5em;
                        background: rgba(255, 255, 255, .1);
                        display: flex;
                        align-items: center;
                        transition: all .2s;
                        flex-direction: column;
    
                        img {
                            height: 100px;
                            width: 120px;
                            border: black solid 1px;
                            margin-top: 20px;
                        }
    
                        h6 {
                            color: black;
                            height: 50px;
                            width: 38vh;
                            text-align: center;
                            font-size: 15px;
                            margin:0;
                        }
    
                        &:hover {
                            background: rgba(255, 255, 255, .5);
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
    
                    .active {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
    
    
                }
    
    
            }
        }
    
        .third {
            display: flex;
            flex-direction: column;
            height: 160%;
            width: 50vh;
            justify-content: center;
            flex-shrink: 2;
    
            .queHacemos {
                display: flex;
                flex-direction: column;
    
                h3 {
                    font-size: 25px;
                    font-family: 'Prata', serif;
                }
    
                p {
                    font-size: 15px;
                }
            }
    
            .hacemosEsto {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
    
                div {
                    width: 50vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    span {
                        font-size: 70px;
                    }
    
                    h4 {
                        font-size: 20px;
                    }
    
                    p {
                        width: 175px;
                        font-size: 18px;
                    }
                }
            }
        }
    
        .fourth {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 15%;
            margin: 20px 0 20px 0;
    
            h3 {
                font-size: 25px;
                font-family: 'Prata', serif;
            }
    
            p {
                font-size: 18px;
            }
    
            a {
                color: black;
                font-size: 20px;
                transition: all 0.5s;
    
                &:hover {
                    font-size: 130%;
                }
            }
    
        }
    }
    

    /* Productos */

    #tituloproductos,
    #viandas,
    #hamburguesas,
    #snacks,
    #platosdulces {
        font-size: 80%;
    }

    .market {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
        margin-bottom: 50px;
        padding: 0 50px 0 50px;

        .carousel {
            display: flex;
            justify-content: center;
            width: 30vh;

            .carousel-inner {
                width: 30vh;

                .carousel-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30vh;
                }

            }

        }

        .active {
            display: flex;
            flex-direction: column;
        }

    }



    .bloque {
        background-color: #E4FFC8;
        border: 1px solid green;
        height: 350px;
        width: 175px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 2s;

        .bloqueFoto {
            width: 172px;
            height: 215px;
            transition: all 2s;
            display: flex;

            .card-img-top {
                width: 172px;
                height: auto;
            }

            &:hover {
                transform: scale(1.5, 1.5);
                cursor: pointer;
                z-index: 2;
            }

        }


        .card-body {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            position: static;
            padding: 0;

            .card-title {
                font-size: 12px;
                width: 170px;
                text-align: center;
            }

            .card-text {
                font-size: 12px;
                width: 170px;
            }

            .comprarProd {
                display: flex;
                width: 100px;
                justify-content: center;

                input {
                    display: flex;
                    border: none;
                    background: lightgoldenrodyellow;
                    margin: 0;
                    font-size: 10px;
                }

            }

            .comprarProd :hover {
                text-decoration: underline;
            }
        }
    }

    /* Sobre mí */

.containerSobreMi {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;

    .foto {
        height: 400px;
        width: auto;
        display: flex;
    }

    .sobreMi {
        display: flex;
        font-size: 70%;
        text-align: center;
        margin: 20px 0 20px 0;
    }
}

    /* Opiniones */

    .opiniones {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        flex-wrap: wrap;        

        h2 {
            font-size: 80%;
        }
    
        .carousel {
            margin-top: 30px;
            display: flex;
            align-items:center;
    
            .carousel-inner {
    
                .carousel-item {
                    width: 100%;
                    padding: 0;
                    align-items: center;
                    flex-direction: column;
                }
    
            }
    
        }
        
        .active {
            display: flex;
            flex-direction: column;
        }
    
    
        &__formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 45vh;

            label, input, div, textarea {
                width: 45vh;
            }

            .acciones {
                padding: 0;
            }
        }
    
        &__titulo {
            text-align: center;
            color: #454500;
            display: flex;
            justify-content: center;
    
            &--titulogrande {
                font-family: 'Darker Grotesque', sans-serif;
                text-decoration: underline;
                font-size: 50px;
            }
    
            &--titulochico {
                font-family: 'Darker Grotesque', sans-serif;
            }
        }
    }
    
    .caja {
        width: 50%;
        height: 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-color: rgba(252, 252, 252, 0.315);
        transition: all 1.5s;
        margin: 10px 0px 10px 0px;
    
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    
        .nombre {
            display: flex;
            position: absolute;
            padding-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;
        }
    
        .contenido {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            margin-top: 15px;
            padding-top: 20px;
        }
    
    }

    .compraExitosa {
        margin: 0;
        padding: 0;
    }

}






/* Contacto */
.contacto {
    width: auto;
    height: auto;
    display: flex;
    margin: 0;

    p {
        font-size: 70%;
    }

    .formContacto {
        p {
            width: auto;
            font-size: 75%;
        }

        label {
            width: auto;
            font-size: 75%;
        }

        div {
            width: auto;
            font-size: 75%;
        }

        .detalles {
            display: flex;
            flex-direction: column;
        }
    }
}







/* Footer */
.footer {
    display: flex;
    align-self: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*-------------- Keyframes ---------------*/
/* Compra Exitosa */
.compraExitosa {
    animation: animacion;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    margin-top: 100px;
    width: 80%;
}

@keyframes animacion {
    0% {
        color: black;
    }

    25% {
        color: cadetblue;
    }

    50% {
        color: darkslategray;
    }

    75% {
        color: limegreen;
    }

    100% {
        color: yellowgreen;
    }
}